.form-full{
    background:linear-gradient(0deg, rgba(29, 29, 29, 0.3), rgba(44, 43, 44, 0.3)), url("../../contact-1\ \(2\).jpg");
    background-size: cover;
}

.contact-info{
    background: rgba(48, 192, 178, 0.733);
    padding: 20px;
    margin-top: 5px;
}
