.footer{
    background: url(../../footer-bg.jpg);
    background-size: cover;
    width: 100%;
    z-index: 1;
  
}

.footer-contact{
    background: #3f4144;
    border-top: #5bc198;
}

.footer-links li {
    list-style: none;
    line-height: 2;
}

.footer-links li a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.footer-social ul {
    display: flex;
}
.footer-social ul li{
    list-style: none;
    margin-left: 10px;
}

.footer-social ul li a{
    text-decoration: none;
}